---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      {% if page.commentCount %} • <span><a href="{{page.commentUrl || page.originalUrl}}">{{ page.commentCount }} comments</a></span>{% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.originalUrl %}
      <p class="original-post">
        This post was originally published on
          <a href="{{page.originalUrl}}">{{page.originalName}}</a>.
      </p>
    {% endif %}

    {{ content }}
  </div>
  
  {% if page.commentCount %}
  <hr>
  <p>
    <em>There are {{ page.commentCount }} comments on this article, read them on 
      <a href="{{page.commentUrl || page.originalUrl}}">{{page.originalName}}</a>.</em>
  </p>
  {% endif %}

</article>
